
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: lightgrey;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.App-link {
  color: #61dafb;
}
